<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetris Artists</title>
    <link rel="stylesheet" href="/static/css/mainpage.css">
    <script defer src="/static/js/script.js"></script>
</head>

<body>
    <header>
        <h1>Artists</h1>
        <input id="search" type="text" placeholder="Search artist..." autocomplete="off">
    </header>

    <div id="tetris-container"></div>
</body>

</html>